.App {
  text-align: center;
}

.app-container{
  position:fixed;
  height: 100%;
  width: 100%;
}

.homePage {
  background-image: url('./logo.svg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.button-container{
  position: fixed;
  background-position: center center;
  width: 25%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button {
  margin: 1em 0; /* to add a margin between each button */
  width: 150px;
  height: 50px;
}


.playground-page{
  width: 100%;
  height: 100%;
}

.top-div{
  width: 100%;
  height: 10%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: top;
}
.main-playground{
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: space-evenly;
}


.player{
  width: 15%;
  height: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-inside{
  width: 100%;
  height: 100px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-label{
  /* background-color: pink; */
}

.player-top{
  margin: auto;
  height:40px;
  width: 15%;
  border-radius: 5px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-score{
  margin: auto;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.playground{
  width: 70%;
  height: 100%;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.above-pitch{
  width: 70%;
  height: 20%;
  background-color: lightgray;
}

.pitch{
  width: 70%;
  height: 50%;
  background-color: lightgray;
  border-radius: 140px;

}

.below-pitch{
  width: 100%;
  height: 30%;
  background-color: lightgray;
  /* border-color: #3498db; */
  border-width: 5px;
  border-color: #3498db !important;
}

.pg-label{
  margin-top: 20px;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  border-color: lightblue;
  border-radius: 10px;
  background-color: green;
  border-width: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over-dialog-container {
  position: relative;
  z-index: 1;
}

.game-over-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-over-dialog {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.toss-page{
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toss-point{
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.show-info {
  animation: fade-in 1s ease-out forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading-animation {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  height: 8px;
  margin: 50px auto;
}

.progress {
  background-color: #3498db;
  width: 0%;
  height: 100%;
  border-radius: 4px;
  animation: progress 2s ease-in-out;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.word {
  font-size: 30px;
  opacity: 0;
  animation: reveal 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}