.App {
  text-align: center;
}

.app-container{
  position:fixed;
  height: 100%;
  width: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button {
  margin: 1em 0; /* to add a margin between each button */
  width: 150px;
  height: 50px;
}


.playground-page{
  width: 100%;
  height: 100%;
}

.top-div{
  width: 100%;
  height: 10%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg-label{
  margin-right: 10px;
  width: 150px;
  height: 50px;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.score-card{
  color: white;
}

.main-playground{
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: space-evenly;
}


.player-inside{
  width: 100%;
  height: 100px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-label{
  color: white;
  text-align: center;
}

.player-score{
  margin: auto;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.playground{
  width: 70%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.above-pitch{
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  justify-content: space-between;
  background-color: lightgray;
  border: 1px solid cornflowerblue;

}
.first_innings_title{
  height: 23%;
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  animation: blink 1s infinite;
  color: red;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.first_innings{
  height: 25%;
  width: 75%;
  background-color: #ccc;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 5px;
}
.score_label {
  width: calc(100% / 8);
  height: 100%;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #000;
}

.second_innings_title{
  height: 23%;
  width: 25%;
  background-color: #ccc;
  border: 1px solid #000;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  align-items: center;
}
.second_innings{
  height: 25%;
  width: 75%;
  background-color: #ccc;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 5px;
}

.pitch{
  width: 85%;
  height: 50%;
  background-color: lightgray;
  border-radius: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid cornflowerblue;
}


.player3-move{
  margin-left: 20px;
  width: 38%;
  height: 35%;
  background-color: firebrick;
  border-radius: 6px;
  border: 3px solid lightgrey;
  position: relative;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

.player2-move{
  margin-left: 30px;
  width: 38%;
  height: 25%;
  background-color: firebrick;
  border-radius: 6px;
  border: 3px solid lightgrey;
  position: relative;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1-move {
  width: 38%;
  height: 25%;
  background-color: firebrick;
  border-radius: 6px;
  border: 3px solid lightgrey;
  position: relative;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateY(-5px); }
  40% { transform: translateY(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.pitch-text{
  text-align: center;
  font-weight: bold;
}

.below-pitch{
  width: 100%;
  height: 30%;
  background-color: lightgray;
  /* border-color: #3498db; */
  /* border-width: 5px;
  border-color: #3498db !important; */
  border: 1px solid cornflowerblue;
}

.player1-Score-top-section{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: lightpink; */
}


.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: relative;
}

.progress-bar {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  height: 8px;
  margin: 50px auto;
}

.progress {
  background-color: #3498db;
  width: 0%;
  height: 100%;
  border-radius: 4px;
  animation: progress 2s ease-in-out;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


.spinner::before {
  content: '';
  display: block;
  width: 30%;
  height: 50%;
  border-radius: 50%;
  border: 6px solid #007bff;
  border-top-color: red;
  animation: spin 10s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-top{
  height:40px;
  width: 25%;
  border-radius: 5px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-over-dialog-container {
  position: relative;
  z-index: 1;
}

.game-over-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-over-dialog {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.innings-break-container {
  position: relative;
  z-index: 1;
}

.innings-break-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.innings-break {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px green;
  animation: rotateY 2.5s linear infinite;
}

@keyframes rotateY {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotateY(-25deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  75% {
    transform: translate(-50%, -50%) rotateY(25deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}


.show-info {
  animation: fade-in 1s ease-out forwards;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

